main {
    background-color: #D2E4C4;
    border-radius: 20px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Eater', cursive;
    font-size: 26px;
    border-radius: 10px;
    background-color: #E4E9B2;
    padding: 10px;
    text-transform: uppercase;
}

#Image {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    border-radius: 80%;
}

#Image-caption {
    text-align: center;
    color: black;
    font-style: italic;
}

#container1 {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    background-color: #B5CBB7;
}

#p1,
#p2,
#p3,
#list {
    grid-column: 2;
    margin: 20px;
    min-width: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.books {
    font-family: fantasy;
}

.awards {
    font-family: fantasy;
    font-style: italic;
}

#end {
    grid-column: 1/-1;
    background-color: #E7E08B;
    border-radius: 20px;
    padding: 20px;
}

#links {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

@media only screen and (min-width:250px) {
    .header {
        font-size: 15px;
    }
    #Image-caption {
        font-size: 15px;
    }
    #p1,
    #p2,
    #p3,
    #list {
        grid-column: 1/-1;
    }
}